backups/cmch-correo01/postfix/accesos_users
backups/cmch-correo01/postfix/accesos_users.db
backups/cmch-correo01/postfix/dynamicmaps.cf
backups/cmch-correo01/postfix/filtro_local
backups/cmch-correo01/postfix/filtro_local.db
backups/cmch-correo01/postfix/filtro_nac
backups/cmch-correo01/postfix/filtro_nac.db
backups/cmch-correo01/postfix/header_checks
backups/cmch-correo01/postfix/main.cf
backups/cmch-correo01/postfix/master.cf
backups/cmch-correo01/postfix/post-install
backups/cmch-correo01/postfix/postfix-files
backups/cmch-correo01/postfix/postfix-script
backups/cmch-correo01/postfix/sasl_senders
backups/cmch-correo01/postfix/sasl_senders.db
backups/cmch-correo01/postfix/transport
backups/cmch-correo01/postfix/transport.db
backups/cmch-correo01/postfix/update_db
backups/cmch-correo01/postfix/virtual
backups/cmch-correo01/postfix/virtual.db
backups/cmch-correo01/postfix/sasl/smtpd.conf
backups/cmch-correo01/postfix/templates/bounce.cf
backups/correo/postfix/accesos_users
backups/correo/postfix/accesos_users_in
backups/correo/postfix/accesos_users_in.db
backups/correo/postfix/accesos_users.db
backups/correo/postfix/dynamicmaps.cf
backups/correo/postfix/filtro_local
backups/correo/postfix/filtro_local.db
backups/correo/postfix/filtro_nac
backups/correo/postfix/filtro_nac.db
backups/correo/postfix/header_checks
backups/correo/postfix/listainterna
backups/correo/postfix/main_20110214.cf
backups/correo/postfix/main_mal.cf
backups/correo/postfix/main._20110215.cf
backups/correo/postfix/main.cf
backups/correo/postfix/main.cf.orig120215
backups/correo/postfix/main.orig.cf
backups/correo/postfix/master.cf
backups/correo/postfix/post-install
backups/correo/postfix/postfix-files
backups/correo/postfix/postfix-script
backups/correo/postfix/sasl_senders
backups/correo/postfix/sasl_senders.db
backups/correo/postfix/sender_bcc
backups/correo/postfix/sender_bcc.db
backups/correo/postfix/transport
backups/correo/postfix/transport.db
backups/correo/postfix/update_db
backups/correo/postfix/users
backups/correo/postfix/virtual
backups/correo/postfix/virtual.db
backups/correo/postfix/cert/ca.crt
backups/correo/postfix/cert/correo.crt
backups/correo/postfix/cert/correo.key
backups/correo/postfix/sasl/smtpd.conf
backups/correo/postfix/templates/bounce.cf
backups/correo01/postfix/accesos_users
backups/correo01/postfix/accesos_users_in
backups/correo01/postfix/accesos_users_in.db
backups/correo01/postfix/accesos_users.db
backups/correo01/postfix/dynamicmaps.cf
backups/correo01/postfix/filtro_local
backups/correo01/postfix/filtro_local.db
backups/correo01/postfix/filtro_nac
backups/correo01/postfix/filtro_nac.db
backups/correo01/postfix/header_checks
backups/correo01/postfix/listainterna
backups/correo01/postfix/main.cf
backups/correo01/postfix/main.cf-correo
backups/correo01/postfix/main.cf.orig
backups/correo01/postfix/master.cf
backups/correo01/postfix/master.cf-correo
backups/correo01/postfix/post-install
backups/correo01/postfix/postfix-files
backups/correo01/postfix/postfix-script
backups/correo01/postfix/sasl_senders
backups/correo01/postfix/sasl_senders.db
backups/correo01/postfix/sender_bcc
backups/correo01/postfix/sender_bcc.db
backups/correo01/postfix/transport
backups/correo01/postfix/transport.db
backups/correo01/postfix/update_db
backups/correo01/postfix/virtual
backups/correo01/postfix/virtual.db
backups/correo01/postfix/sasl/smtpd.conf
backups/correo01/postfix/templates/bounce.cf
backups/svca-correo01/postfix/accesos_users
backups/svca-correo01/postfix/accesos_users.db
backups/svca-correo01/postfix/dynamicmaps.cf
backups/svca-correo01/postfix/filtro_local
backups/svca-correo01/postfix/filtro_local.db
backups/svca-correo01/postfix/filtro_nac
backups/svca-correo01/postfix/filtro_nac.db
backups/svca-correo01/postfix/header_checks
backups/svca-correo01/postfix/main.cf
backups/svca-correo01/postfix/master.cf
backups/svca-correo01/postfix/post-install
backups/svca-correo01/postfix/postfix-files
backups/svca-correo01/postfix/postfix-script
backups/svca-correo01/postfix/sasl_senders
backups/svca-correo01/postfix/sasl_senders.db
backups/svca-correo01/postfix/transport
backups/svca-correo01/postfix/transport.db
backups/svca-correo01/postfix/update_db
backups/svca-correo01/postfix/virtual
backups/svca-correo01/postfix/virtual.db
backups/svca-correo01/postfix/virtual.old
backups/svca-correo01/postfix/sasl/smtpd.conf
backups/svca-correo01/postfix/templates/bounce.cf
backups/svch-correo01/postfix/accesos_users
backups/svch-correo01/postfix/accesos_users.db
backups/svch-correo01/postfix/dynamicmaps.cf
backups/svch-correo01/postfix/filtro_local
backups/svch-correo01/postfix/filtro_local.db
backups/svch-correo01/postfix/filtro_nac
backups/svch-correo01/postfix/filtro_nac.db
backups/svch-correo01/postfix/header_checks
backups/svch-correo01/postfix/main.cf
backups/svch-correo01/postfix/master.cf
backups/svch-correo01/postfix/post-install
backups/svch-correo01/postfix/postfix-files
backups/svch-correo01/postfix/postfix-script
backups/svch-correo01/postfix/sasl_senders
backups/svch-correo01/postfix/sasl_senders.db
backups/svch-correo01/postfix/transport
backups/svch-correo01/postfix/transport.db
backups/svch-correo01/postfix/update_db
backups/svch-correo01/postfix/virtual
backups/svch-correo01/postfix/virtual.db
backups/svch-correo01/postfix/sasl/smtpd.conf
backups/svch-correo01/postfix/templates/bounce.cf
backups/svmt-correo01/postfix/accesos_users
backups/svmt-correo01/postfix/accesos_users.db
backups/svmt-correo01/postfix/dynamicmaps.cf
backups/svmt-correo01/postfix/filtro_local
backups/svmt-correo01/postfix/filtro_local.db
backups/svmt-correo01/postfix/filtro_nac
backups/svmt-correo01/postfix/filtro_nac.db
backups/svmt-correo01/postfix/header_checks
backups/svmt-correo01/postfix/main.cf
backups/svmt-correo01/postfix/master.cf
backups/svmt-correo01/postfix/post-install
backups/svmt-correo01/postfix/postfix-files
backups/svmt-correo01/postfix/postfix-script
backups/svmt-correo01/postfix/sasl_senders
backups/svmt-correo01/postfix/sasl_senders.db
backups/svmt-correo01/postfix/transport
backups/svmt-correo01/postfix/transport.db
backups/svmt-correo01/postfix/update_db
backups/svmt-correo01/postfix/virtual
backups/svmt-correo01/postfix/virtual.db
backups/svmt-correo01/postfix/sasl/smtpd.conf
backups/svmt-correo01/postfix/templates/bounce.cf
